<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Highcharts Test</title>
    <!--script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script-->
    <!--script src="http://code.highcharts.com/highcharts.js"></script-->
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/highcharts.js"></script>
    <script src="../js/ordersdeal.js"></script>

</head>
<body>
<script language="JavaScript">
    $(document).ready(function() {
        //alert(test());
        var dataX = getallOrdersX(document.getElementById("inputdata").value);
        var dataY = getallOrdersY(document.getElementById("inputdata").value);

        alert(dataX);
        alert(dataY);

        var title = {
            text: '订单价格'
        };

        var subtitle = {
            text: 'Test'
        };
        var xAxis = {
            categories: dataX
        };
        var yAxis = {
            title: {
                text: 'orders_price'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        };

        var tooltip = {
            valueSuffix: '\xB0C'
        }

        var legend = {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        };

        var series =  [
            {
                name: 'Total price',
                data: dataY
            }
        ];

        var json = {};

        json.title = title;
        json.subtitle = subtitle;
        json.xAxis = xAxis;
        json.yAxis = yAxis;
        json.tooltip = tooltip;
        json.legend = legend;
        json.series = series;
        $('#container').highcharts(json);
    });
</script>

<div id="container" style="width: 550px; height: 400px; margin: 0 auto"></div>
<!--/*@thymesVar id="datajson" type="java.lang.String"*/-->
<textarea id="inputdata" th:hidden="true" name="inputdata" th:inline="text">[[${dataget}]]</textarea>
</body>

</html>