<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Highcharts Test</title>
    <!--script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script-->
    <!--script src="http://code.highcharts.com/highcharts.js"></script-->
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/highcharts.js"></script>
    <script src="../js/ordersdeal.js"></script>

</head>
<body>
<script language="JavaScript">
    $(document).ready(function() {
        $("#btntest").bind("click", function () {
            var dataall  = getsyummaryXY(document.getElementById("inputdata").value,document.getElementById("ruleAll").value,document.getElementById("ruleselect").value);

            var title = {
                text: '订单价格'
            };

            var subtitle = {
                text: 'Test'
            };
            var xAxis = {
                categories: dataall.dataX
            };
            var yAxis = {
                title: {
                    text: 'orders_price'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            };

            var tooltip = {
                valueSuffix: ''
            }

            var legend = {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            };



            var json = {};

            json.title = title;
            json.subtitle = subtitle;
            json.xAxis = xAxis;
            json.yAxis = yAxis;
            json.tooltip = tooltip;
            json.legend = legend;
            json.series = dataall.series;
            $('#container').highcharts(json);
        });
        var dataall  = getsyummaryXY(document.getElementById("inputdata").value,document.getElementById("ruleAll").value,document.getElementById("ruleselect").value);

        var title = {
            text: '订单价格'
        };
        var subtitle = {
            text: 'Test'
        };
        var xAxis = {
            categories: dataall.dataX
        };
        var yAxis = {
            title: {
                text: 'orders_price'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        };
        var tooltip = {
            valueSuffix: ''
        }
        var legend = {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        };
        var json = {};

        json.title = title;
        json.subtitle = subtitle;
        json.xAxis = xAxis;
        json.yAxis = yAxis;
        json.tooltip = tooltip;
        json.legend = legend;
        json.series = dataall.series;
        $('#container').highcharts(json);

    });

</script>

<br /><br /><br />
<div align="center">
    <p>RuleID:
    <select id="ruleselect" name="ruleselect">
    </select>
    <button id="btntest" name="btntest">确认</button></p>

</div>
<br /><br /><br />
<div id="container" style="width: 1000px; height: 400px; margin: 0 auto"></div>
<!--/*@thymesVar id="datajson" type="java.lang.String"*/-->
<textarea id="inputdata" th:hidden="true" name="inputdata" th:inline="text">[[${dataget}]]</textarea>
<textarea id="ruleAll" th:hidden="true" name="ruleAll" th:inline="text">[[${ruleAll}]]</textarea>


</body>

</html>