<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"></meta>
    <title>TestUI</title>
</head>
<body>
<div align="center">
    <br /><br /><br />
    <h1>Test UI </h1>

    <br /><br /><br />
    <button style='font-size:13px;width: 240px;' onclick="window.open('http://localhost:8080/orderadd')">
        添加一百条订单数据
    </button>

    <br /><br /><br />
    <button style='font-size:13px;width: 240px;' onclick="window.open('http://localhost:8080/deleteallorders')">
        清空订单数据表
    </button>

    <br /><br /><br />
    <button style='font-size:13px;width: 240px;' onclick="window.open('http://localhost:8080/ordersort')">
        更新统计数据表
    </button>

    <br /><br /><br />
    <button style='font-size:13px;width: 240px;' onclick="window.open('http://localhost:8080/chart')">
        获得统计图表
    </button>

    <br /><br /><br />
    <button style='font-size:13px;width: 240px;' onclick="window.open('http://localhost:8080/newrule')">
        添加一条规则
    </button>

    <br /><br /><br />
    <button style='font-size:13px;width: 240px;' onclick="window.open('http://localhost:8080/deleteallrule')">
        删除所有规则
    </button>

</div>

</body>
</html>